---
import experiences from "../collections/experiences.json";
import AboutExperience from "../components/about-experience.astro";
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="A propos">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="A propos de moi"
      description="Je suis Maxime Bonnet, actuellement en 3ème année de BUT Informatique. L'informatique n'est pas seulement ce que j'étudie, c'est aussi ma passion. Que ce soit le développement de logiciels, la création de sites web, ou l'exploration de nouvelles technologies, je suis toujours enthousiaste à l'idée d'en apprendre plus et de relever de nouveaux défis."
    />


    <h2 class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200">Contact</h2>
    <p
      class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
      Vous pouvez me contacter par <a href="mailto:bonnet.maxime54@gmail.com" class="text-indigo-600 underline"
        >email</a
      > ou sur <a href="https://www.linkedin.com/in/maxime-bonnet-68b87029b/" class="text-indigo-600 underline"
      >Linkedin</a>
      <br> <br>

      Email de contact : bonnet.maxime54@gmail.com
    </p>
  </section>
</Layout>
